<service name="github_tarballs">
  <summary>Download tarballs and update package data</summary>
  <description>This service downloads tarballs and updates the spec file version and changes file</description>
  <param name="url">
    <description>URL of the tarball to download.</description>
    <required/>
  </param>
  <param name="package">
    <description>OBS package name.</description>
  </param>
  <param name="filename">
    <description>Name of the filename where the tarball will be downloaded.</description>
  </param>
  <param name="email">
    <description>User's email that will be used to sign the rpm's .changes file</description>
    <required/>
  </param>
  <param name="repo_owner">
    <description>GitHub repository owner</description>
    <required/>
  </param>
  <param name="repo_name">
    <description>GitHub repository name</description>
    <required/>
  </param>
  <param name="target">
    <description>A commit or git reference that will be the target to sync up to from the upstream repository</description>
    <required/>
  </param>
</service>
